{% extends "layout.html" %}
{% block favicon %}<link href="{{ url_for('static', filename='im.ico') }}" rel="icon">{% endblock %}
{% block css %}
<style>
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 300;
        src: url('{{ url_for("static", filename="fonts/lato-v23-latin-300.eot") }}'); /* IE9 Compat Modes */
        src: local(''),
            url('{{ url_for("static", filename="fonts/lato-v23-latin-300.eot?#iefix") }}') format('embedded-opentype'), /* IE6-IE8 */
            url('{{ url_for("static", filename="fonts/lato-v23-latin-300.woff2") }}') format('woff2'), /* Super Modern Browsers */
            url('{{ url_for("static", filename="fonts/lato-v23-latin-300.woff") }}') format('woff'), /* Modern Browsers */
            url('{{ url_for("static", filename="fonts/lato-v23-latin-300.ttf") }}') format('truetype'), /* Safari, Android, iOS */
            url('{{ url_for("static", filename="fonts/lato-v23-latin-300.svg#Lato") }}') format('svg'); /* Legacy iOS */
    }
    @font-face {
        font-family: 'Ubuntu Mono';
        font-style: normal;
        font-weight: 400;
        src: url('{{ url_for("static", filename="fonts/ubuntu-mono-v15-latin-regular.eot") }}'); /* IE9 Compat Modes */
        src: local(''),
            url('{{ url_for("static", filename="fonts/ubuntu-mono-v15-latin-regular.eot?#iefix") }}') format('embedded-opentype'), /* IE6-IE8 */
            url('{{ url_for("static", filename="fonts/ubuntu-mono-v15-latin-regular.woff2") }}') format('woff2'), /* Super Modern Browsers */
            url('{{ url_for("static", filename="fonts/ubuntu-mono-v15-latin-regular.woff") }}') format('woff'), /* Modern Browsers */
            url('{{ url_for("static", filename="fonts/ubuntu-mono-v15-latin-regular.ttf") }}') format('truetype'), /* Safari, Android, iOS */
            url('{{ url_for("static", filename="fonts/ubuntu-mono-v15-latin-regular.svg#UbuntuMono") }}') format('svg'); /* Legacy iOS */
    }
    html, body {
        height: 100%;
    }
    footer {
        font-family: sans-serif;
        margin: 0 auto;
        text-align: center;
        color: #cccccc;
        position: sticky;
        top: 100vh;
        padding-bottom: 1em;
    }
    footer a {
        color: #cccccc;
        text-decoration: none;
    }
    footer a:hover {
        color: #0000ff;
    }
    .de {
        font-family: 'Lato', sans-serif;
    }
    .dev {
        font-family: 'Ubuntu Mono', monospace;
    }
    #danjou.hide {
        display: none;
    }
    #content {
        margin: 0 auto;
        padding-top: 3em;
        text-align: center;
    }
    h1 {
        font-size: 5em;
        margin-top: 0;
        margin-bottom: 0.1em;
    }
    h2 {
        font-size: 2em;
        color: #777777;
        margin-top: 0.1em;
    }
    p {
        margin-top: 2em;
    }
    #content a {
        text-decoration: none;
        margin: 0.5em;
    }
    #content a svg {
        height: 70px;
    }
    #content a svg path,
    #content a svg line,
    #content a svg polyline,
    #content a svg circle,
    #content a svg rect,
    #content a svg polygon {
        stroke: #dddddd;
    }
    #content a:hover {
        text-decoration: none;
    }
    #content a:hover svg path,
    #content a:hover svg line,
    #content a:hover svg polyline,
    #content a:hover svg circle,
    #content a:hover svg rect,
    #content a:hover svg polygon {
        stroke: #0000FF;
    }
    #content a#codementor svg :nth-child(1),
    #content a#codementor svg :nth-child(2),
    #content a#codementor svg :nth-child(3),
    #content a#codementor svg :nth-child(4),
    #content a#codementor svg :nth-child(5),
    #content a#codementor svg :nth-child(6),
    #content a#codementor svg :nth-child(8),
    #content a#codementor svg :nth-child(9),
    #content a#codementor svg :nth-child(13),
    #content a#codementor svg :nth-child(14) {
        fill: #dddddd;
        stroke: none;
    }
    #content a#codementor:hover svg :nth-child(1),
    #content a#codementor:hover svg :nth-child(2),
    #content a#codementor:hover svg :nth-child(3),
    #content a#codementor:hover svg :nth-child(4),
    #content a#codementor:hover svg :nth-child(5),
    #content a#codementor:hover svg :nth-child(6),
    #content a#codementor:hover svg :nth-child(8),
    #content a#codementor:hover svg :nth-child(9),
    #content a#codementor:hover svg :nth-child(13),
    #content a#codementor:hover svg :nth-child(14) {
        fill: #0000FF;
        stroke: none;
    }
</style>
{% endblock %}
{% block body %}
<div id="content">
    <h1>Max Ludwig</h1>
    <h2 id="danjou" class="hide">(aka dAnjou)</h2>
    <p>
        <a id="email" target="_blank" href="mailto:&#109;&#097;&#105;&#108;&#064;&#109;&#097;&#120;&#108;&#117;&#100;&#119;&#105;&#103;&#046;&#100;&#101;">
            {{ "https://openmoji.org/data/black/svg/2709.svg" | svg }}
        </a>
        <a id="gitlab" target="_blank" href="https://gitlab.com/dAnjou">
            {{ "https://openmoji.org/data/black/svg/E059.svg" | svg }}
        </a>
        <a id="github" target="_blank" href="https://github.com/dAnjou">
            {{ "https://openmoji.org/data/black/svg/E045.svg" | svg }}
        </a>
        <a id="linkedin" target="_blank" href="https://www.linkedin.com/in/max-l-a87402b0/">
            {{ "https://openmoji.org/data/black/svg/E046.svg" | svg }}
        </a>
        <a id="codementor" target="_blank" href="https://www.codementor.io/@maxludwig">
            {{ "https://openmoji.org/data/black/svg/1F468-200D-1F3EB.svg" | svg }}
        </a>
    </p>
</div>
<footer>All icons in this page are designed by <a href="https://openmoji.org/">OpenMoji</a> – the open-source emoji and icon project. License: <a href="https://creativecommons.org/licenses/by-sa/4.0/#">CC BY-SA 4.0</a></footer>
{% endblock %}
{% block js %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", (event) => {
        domain_parts = window.location.hostname.split(".").reverse()
        if (domain_parts[0] === "dev") {
            document.querySelector("#content").classList.remove("de")
            document.querySelector("#content").classList.add("dev")
        } else {
            document.querySelector("#content").classList.remove("dev")
            document.querySelector("#content").classList.add("de")
        }
        if (domain_parts[1] === "danjou") {
            document.querySelector("#danjou").classList.remove("hide")
        }
    });
</script>
{% endblock %}
