<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}Max Ludwig{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    {% block css %}{% endblock %}
    {% block favicon %}<link href="{{ url_for('static', filename='ml.ico') }}" rel="icon">{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block js %}{% endblock %}
</body>
</html>
